html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.artboard {
  width: 100vw;
  height: 100vh;
}

.forward-debug {
  stroke: #ef4b22;
  stroke-width: 2px;
  fill: none;
}

.backward-debug {
  stroke: #91c9f9;
  stroke-width: 2px;
  fill: none;
}

.curb {
  stroke: #cfcfcf;
  stroke-width: 4px;
  fill: none;
}

.center {
  fill: #4d5250;
  stroke: #4d5250;
  stroke-width: 2px;
}

.forward-asphalt {
  fill: #4d5250;
  stroke: #4d5250;
  stroke-width: 1px;
}

.backward-asphalt {
  fill: #4d5250;
  stroke: #4d5250;
  stroke-width: 1px;
}

.forward-line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.backward-line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.rotate {
  fill: red;
  touch-action: none;
}

.add-lane {
  fill: blue;
}

.inventory {
  width: 100vw;
  height: 100vh;
  touch-action: none;
  pointer-events: none;
  position: fixed;
}

.drag {
  background: #91c9f9;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 50px!important;
  user-select: none;
  touch-action: none;
  pointer-events: all;
}

.sign {
  pointer-events: all;
  position: relative;
  width: 80px;
  height: 80px;
  user-select: none;
  touch-action: none;
}